{% include 'header.html' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>大家好！</h1>
        <p>这是我在数值预报中心的个人主页。</p>
        <p><a class="btn btn-primary btn-lg" role="button">了解更多 &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>工作</h2>
          <p>工作充满乐趣</p>
          <p><a class="btn btn-default" href="{{ url_for('work_index') }}" role="button">查看详情 &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>学习</h2>
          <p>活到老，学到老 </p>
          <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>生活</h2>
          <p>生活就是全部</p>
          <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
        </div>
      </div>

{% include 'footer.html' %}
