{% set local_css_file_list = [url_for('static',filename="css/dataTables.bootstrap.css")] %}

{% include 'header.html' %}

<style type="text/css">
    .main_board {
        text-align: center;
    }
    .main_board .main_board_subtitle {
        font-size: 2em;
    }
    .total_llq_job_number {
        font-size: 8em;
    }
</style>

<div class="container">
    <h2>业务系统监控</h2>
    <h3>作业队列</h3>
    <div class="row">
        <div class="col-md-6 main_board" >
            <div class="row mian_board" id="llq_total_job_board">

            </div>
            <div class="col-md-6" id="llq_type_chart_board">
            </div>
        </div>
        <div class="col-md-6" id="llq_user_job_count_board">

        </div>
    </div>


    <h3>SMS服务器状态</h3>
    <div class="row">
        <div class="col-md-2">
            <div class="row" id="sms_server_status_container">

            </div>
        </div>
    </div>

    <h3>磁盘空间查询</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="row" id="user_disk_usage_query_container">

            </div>
        </div>
    </div>

    <h3>用户作业查询</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="row" id="user_job_query_container">

            </div>
        </div>
    </div>


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

{% set local_js_file_list = [url_for('static',filename="js/d3/d3.js"),
                             url_for('static', filename="js/react/JSXTransformer.js"),
                             url_for('static', filename="js/react/react.js")] %}
    <script type="text/jsx;harmony=true" src="{{ url_for('static', filename='js/work/work_system_real_time_monitor.js') }}"></script>

{% include 'footer.html' %}