{% set local_css_file_list = [url_for('static',filename="css/dataTables.bootstrap.css")] %}

{% include 'header.html' %}

<div class="container">
    <h2>业务系统监控</h2>
    <h3>实时监控</h3>
    <div class="row">
        <div class="col-md-8" id="quota-table-container">
        </div>
    </div>
    <div class="row" id="gauge-container">
    </div>

{% set local_js_file_list = [url_for('static',filename="js/jquery.dataTables.min.js"),
                             url_for('static',filename="js/dataTables.bootstrap.js"),
                             url_for('static',filename="js/highcharts.js"),
                             url_for('static',filename="js/highcharts-more.js"),
                             "http://code.highcharts.com/modules/exporting.js",
                             url_for('static',filename="js/work/work_system_real_time_monitor.js")] %}

{% include 'footer.html' %}