{% set local_css_file_list = [url_for('static',filename="css/dataTables.bootstrap.css")] %}

{% include 'header.html' %}

<style type="text/css">
    .main_board {
        text-align: center;
    }
    .main_board .main_board_subtitle {
        font-size: 2em;
    }
    .total_llq_job_number {
        font-size: 8em;
    }
</style>

<div class="container">
    <h2>业务系统监控</h2>
    <h3>实时监控</h3>
    <div class="row">
        <div class="col-md-6 main_board" id="llq_total_job_board"></div>
        <div class="col-md-6" id="llq_type_list_board"></div>
    </div>
    <div class="row">
        <div class="col-md-6" id="llq_type_chart_board">
        </div>
    </div>

    <h3>用户作业查询</h3>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="query_user_name">用户名</label>
                    <input type="text" class="form-control" id="query_user_name" placeholder="nwp">
                </div>
                <button type="button" class="btn btn-default" id="user_llq_query_button">查询</button>
            </form>
        </div>
    </div>
    <div class="row">

    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

{% set local_js_file_list = [url_for('static',filename="js/d3/d3.js"),
                             url_for('static', filename="js/react/JSXTransformer.js"),
                             url_for('static', filename="js/react/react.js")] %}
    <script type="text/jsx;harmony=true" src="{{ url_for('static', filename='js/work/work_system_real_time_monitor.js') }}"></script>

{% include 'footer.html' %}