{# foot template #}
      <hr>

      <footer>
        <p>&copy; Windroc,NWPC 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    {# 添加特定js文件 #}
     {% if local_js_file_list %}
        {% for a_file in local_js_file_list %}
            <script src="{{ a_file }}"></script>
        {% endfor %}
     {% endif%}

  </body>
</html>