{% include 'header.html' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>业务系统监控</h1>
        <p>提供简陋的监控功能</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('work_system_monitor') }}" role="button">查看详情 &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>业务系统监控</h2>
          <p>众里寻他千百度</p>
          <p><a class="btn btn-default" href="{{ url_for('work_system_monitor') }}" role="button">查看详情 &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>业务系统建设</h2>
          <p>年年岁岁花相似 </p>
          <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>软件开发</h2>
          <p>效率就是金钱</p>
          <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
        </div>
      </div>

{% include 'footer.html' %}
